.layerhub-wrapper {
  .layer-wrapper {
    z-index: 999;
    position: absolute;
    top: 9vh;
    right: 25%;
    text-align: center;
    .hub-list {
      display: flex;
      background-color: rgba(5, 13, 30, 0.6);
      border-radius: 1vh;
      .hub-item {
        display: flex;
        align-items: center;
        width: 11vh;
        padding: 0.5vh 1vh;
        border-right: 0.1vh solid #2283FC;
        font-family: PingFang;
        color: #2283FC;
        img {
          padding-right: 0.3vh;
        }
        &.selected {
          color: #69FEE5;
          background-color: rgba(0, 206, 136, 0.4);
          // border-radius: 10px 0px 0px 10px;
          border: 0.1vh solid;
        }
        &:last-child {
          border: none;
        }
      }
    }
    .box {
      display: flex;
      .sub-container {
        width: 11vh;
        height: 100%;
        background-color: rgba(5, 13, 30, 0.6);
        color: #2283FC;
        .sub-item {
          padding: 0.3vh;
          border-bottom: 1px solid #2283FC;
          cursor: pointer;
          &.selected {
            color: #69FEE5;
            background-color: rgba(0, 206, 136, 0.4);
          }
          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  .switch-menu-wrapper {
    margin-bottom: 1vh;
    text-align: center;
    .switch-menu-container {
      width: 34vh;
      height: 4vh;
      cursor: pointer;
      .bg-image('./images/switch-bg');
      display: flex;
      >span {
        flex: 1;
        line-height: 4vh;
        font-family: YouSheBiaoTiHei;
        font-size: 3vh;
        color: #fff;
        opacity: .5;
        &.active {
          opacity: 1;
          font-size: 3vh;
        }
      }
    }
    .switch-menu-decorate {
      margin-top: 1vh;
      width: 38vh;
      height: 0.8vh;
      .bg-image('./images/switch-decorate');
    }
  }

  .left-menu-wrapper {
    z-index: 999;
    position  : absolute;
    top       : 5vh;
    left      : 0vh;
    width: 40vh;
    height: 100%;
    padding-top: 3vh;
    padding-left: 2vh;
    background-color: #040D33;
  }
  .left-menu-wrapperda {
    z-index   : 999;
    position  : absolute;
    top       : 5vh;
    left      : 0vh;
    height: 100%;
    padding-top: 3vh;
    padding-left: 2vh;
    background-color: #040D33;
  }
  
  .ulsda{
    display: flex;
    align-items: flex-start;
  }
  .rig{
    padding-left: 2vh;
  }
  .sign-wrapper {
    position: absolute;
    bottom: 1vh;
    >img {
      width: 15vh;
    }
  }
}
