.projectPlan{
  padding: 3vh 1vh 1vh 1vh;
  .title-wrapper {
    display: flex;
    align-items: flex-end;
    .pre {
      display: block;
      width: 1vh;
      height: 2.5vh;
      background: linear-gradient(180deg, #16EAEA 0%, rgba(11, 48, 117, 0) 100%);
      transform: skewX(-30deg);
    }
    .title {
      display: block;
      height: 3.6vh;
      line-height: 3.6vh;
      font-family: YouSheBiaoTiHei;
      font-size: 3vh;
      letter-spacing: 0vh;
      color: #ffffff;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.64);
      position: relative;
      padding-left: 1.2vh;
    }
    .title::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0.2vh;
      width: 30vh;
      height: 1.5vh;
      z-index: -1;
      background-image: linear-gradient(90deg, #1950B9 0%, transparent 100%);
      transform: skewX(-30deg);
    }
    .desc {
      margin-left: 4px;
      font-size: 11px;
      // font-family: PingFang;
      color: #fff;
      opacity: .8;
    }
  }
  .info-item-right {
    display: flex;
    // margin-top: 8px;
    // font-family: PingFang;
    background-color: #091237;
    height: 5vh;
    //border-bottom: 1px solid rgba(22, 95, 234, 0.4);
    .key {
      width: 10vh;
      line-height: 5vh;
      font-size: 1.2vh;
      background-color: rgba(10,36,86,0.5);
      text-align: center;
      border:1px solid #707070;
      color:#fff;
      .keyAllText{
        display: flex;
        >p{
          width: 5vh;
          line-height: 2vh;
          align-self: center;
        }
        .text{
          text-align : right;
          width: 4vh;
        }
      }
    }
    .value {
      //font-size: 1.4vh;
      color: #fff;
      border:1px solid #707070;
      width: 30vh;
      background: rgba(22,95,234,0.24);
      //line-height:3vh;
      //text-align: center;
      font-size: 1.2vh;
      line-height: 2vh;
      display: flex;
      // font-family: PingFang;
      >p{
        align-self: center;
      }
    }
  }
}
