.left-wrapper {
  z-index: 999;
  position: absolute;
  top: 5vh;
  left: 0vh;
  bottom: 0;
  // width: 40vh;
  width: 20%;
  padding-top: 3vh;
  padding-left: 1%;
  background-color: #040D33;
  .left-content {
    margin-top: 2vh;
    display: flex;
    .zrdw-list {
      color: #fff;
      .zrdw-item {
        margin-top: 0.5vh;
        display: flex;
        align-items: center;
        width: 4vh;
        height: 10vh;
        padding: 0 1vh;
        font-size: 1.4vh;
        text-align: center;
        .bg-image('./images/zrdw-bg');
        cursor: pointer;
        &.active {
          .bg-image('./images/zrdw-active-bg');
        }
      }
    }
    .xm-container {
      z-index: 2;
      margin-top: -3vh;
      margin-left: 1vh;
      .xm-list {
        margin-top: 1vh;
        width: 26vh;
        max-height: 79vh;
        overflow-y: scroll;
        background-color: #113D6A;
        .xm-item {
          padding: 1vh;
          border-bottom: 2px solid #24558E;
          cursor: pointer;
          position: relative;
          .name {
            font-family: YouSheBiaoTiHei;
            font-size: 1.8vh;
            color: #16EAEA;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            word-break: break-all;
          }
          .info-box {
            margin-top: 0.5vh;
            display: flex;
            align-items: center;
            .info-item {
              display: flex;
              flex-direction: column;
              text-align: left;
              .key {
                font-size: 1.2vh;
                color: #eee;
                white-space: nowrap;
              }
              .value {
                margin-top: 0.5vh;
                font-size: 1.2vh;
                color: #16EAEA;
              }
            }
            .split {
              margin: 0 1vh;
              width: 0.1vh;
              height: 2vh;
              background-color: rgba(255, 255, 255, 0.4);
            }
          }
          .leftSquare{
            width: 2vh;
            height: 5vh;
            background: #16EAEA;
            border-width: 0.25vh;
            position: relative;
            left: 0vh;
            top: 0vh;
          }
        }
        .xmActive::before {
          content: '';
          position: absolute;
          width: 100%;
          height: 18%;
          left: 0;
          top: 0;
          background: linear-gradient(180deg, #3BF1FF 0%, rgba(21, 56, 98, 0) 100%);
          z-index: 0;
        }
        .xmActive::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 18%;
          left: 0;
          bottom: 0;
          background: linear-gradient(180deg, rgba(21, 56, 98, 0) 0%, #3BF1FF 100%);
          z-index: 0;
        }
      }
    }
    .mark-container {
      position: relative;
      margin-left: 1vh;
      .button {
        margin-top: 1vh;
        width: 6vh;
        z-index: 99;
        cursor: pointer;
      }
      .line {
        z-index: -1;
        position: absolute;
        top: -3vh;
        left: -20vh;
        width: 25.5vh;
      }
    }
  }
}
.right-content {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 5vh;
  bottom: 0;
  width: 21%;
  padding: 1vh 1% 0 1%;
  display: flex;
  background-color: #040D33;
  .kdtj-container, .xmtj-container {
    // width: 40vh;
    width: 100%;
    .base-info {
      display: flex;
      margin-top: 2vh;
      .base-item {
        position: relative;
        margin-right: 7vh;
        .title {
          position: absolute;
          top: -5px;
          left: 6.6vh;
          transform: translateX(-50%);
          font-size: 1.3vh;
        }
        .text {
          position: absolute;
          //top: 12px;
          top: 15%;
          left: 7vh;
          transform: translateX(-50%);
          font-family: YouSheBiaoTiHei;
          font-size: 2.5vh;
          color: #FAFAFA;
          white-space: nowrap;
          .unit {
            font-size: 1.5vh;
            font-family: YouSheBiaoTiHei;
          }
        }
        .titleRight {
          position: absolute;
          top: -5px;
          left: 5.3vh;
          transform: translateX(-50%);
          font-size: 1.3vh;
        }
        .textRight {
          position: absolute;
          //top: 12px;
          top: 15%;
          left: 5.9vh;
          transform: translateX(-50%);
          font-family: YouSheBiaoTiHei;
          font-size: 2.5vh;
          color: #FAFAFA;
          white-space: nowrap;
          .unit {
            font-size: 1.5vh;
            font-family: YouSheBiaoTiHei;
          }
        }
        .progressEmpty {
          height: 1.5vh;
          //margin: 0.5vh auto;
          position: relative;
          left: 1vh;
          width: 11vh;
          .empty{
            height: 100%;
          }
          .progressFull{
            transition: width .1s;
            //background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            .full{
              height: 1.5vh;
            }
          }
          .progressTitleRight{
            position: absolute;
            top: 0;
            right: -2vh;
            color: #ffffff;
            font-size: 1.5vh;
          }
          .progressTitle{
            position: absolute;
            top: 0;
            left: 10vh;
            color: #ffffff;
            font-size: 1.5vh;
          }
        }
      }
    }
    .content-box {
      margin-top: 1.5vh;
      .content-title {
        margin-bottom: 0.8vh;
        display: flex;
        .pre {
          display: block;
          width: 1vh;
          height: 2vh;
          background: linear-gradient(180deg, #16EAEA 0%, rgba(11, 48, 117, 0) 100%);
          transform: skewX(-30deg);
        }
        .title {
          margin-left: -3px;
          z-index: 2;
          font-size: 2vh;
          font-family: YouSheBiaoTiHei;
          color: #81b2ff;
        }
      }
      .content-item {
        display: flex;
        align-items: center;
        margin-bottom: 1vh;
        padding: 1vh 2vh;
        border: solid 1px #2e4146;
        color: #fff;
        .number {
          margin: 0 1vh;
          font-size: 1.8vh;
          font-family: DIN;
        }
        .blue {
          color: #00a7ff;
        }
        .orange {
          color: #ff7f00;
        }
      }
      .progress-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 3vh;
        .progress {
          // width: 100%;
          height: 2vh;
          background-image: linear-gradient(90deg, 
            #93b4ff 0%, 
            #f14bff 100%);
          border-radius: 14px;
        }
        .rate {
          flex: 1;
          margin-left: 10px;
          color: #fc34b6;
          font-weight: bold;
          font-size: 1.8vh;
        }
      }
    }
    .result-wrapper {
      margin-top: 1vh;
      width  : 99%;
      height : 25vh;
      // font-family: PingFang;
      color: #fff;
      .result-list {
        height    : 100%;
        overflow-y: auto;
        .result-item {
          display        : flex;
          justify-content: space-between;
          align-items    : center;
          padding        : 0.5vh 0 0.5vh 1.5vh;
          height: 3.2vh;
          line-height: 3.2vh;
          font-size: 1.2vh;
          .index {
            flex: 1;
          }
          .name {
            flex: 3;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
          }
          .content {
            flex: 3;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
          }
          // &.header {
          // font-size: 16px;
          // }
        }
        li:nth-child(odd) {
          background: rgba(0, 12, 34, 0.69);
        }
        li:nth-child(even) {
          background: rgba(22, 95, 234, 0.24);
        }
      }
    }

    .amount-rank {
      display: flex;
      .amount-item {
        width: 21%;
        padding: 1vh 0;
        text-align: center;
        margin-right: 5%;
        &.bg1 {
          color: #e4ffc4;
          .bg-image('./images/amount-bg1');
        }
        &.bg2 {
          color: #00ffeb;
          .bg-image('./images/amount-bg2');
        }
        .number {
          margin-top: 10px;
          font-family: 'YouSheBiaoTiHei';
          font-size: 2.4vh;
          white-space: nowrap;
          .unit {
            display: inline-block;
            font-size: 12px;
            transform: scale(0.8);
          }
        }
        .name {
          margin-top: 3px;
          font-family: 'YouSheBiaoTiHei';
          font-size: 1.4vh;
          color: #fff;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .rate-rank {
      display: flex;
      flex-wrap: wrap;
      .rate-item {
        margin-top: 1vh;
        margin-bottom: 1vh;
        margin-right: 4%;
        width: 48%;
        display: flex;
        align-items: center;
        color: #fff;
        .name {
          margin-right: 5px;
          width: 95px;
          white-space: nowrap;
        }
        .el-progress{
          // width:60%;
          flex: 1;
        }
        &:nth-child(even) {
          margin-right: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .invest-rank {
      display: flex;
      .invest-item {
        width: 20%;
        margin-right: 5%;
        margin-bottom: 1vh;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
        .name {
          margin-top: 3px;
          color: #ddf6ff;
          font-size: 1.4vh;
          white-space: nowrap;
        }
      }
    }
    
    .progressFlex{
      display: flex;
      padding-bottom: 1vh;
    }
  }
  .xmtj-container {
    .base-info {
      margin-top: 1.3vh;
      .base-item {
        .title {
          top: 3vh;
          font-size: 1.6vh;
          white-space: nowrap;
          left: 6.5vh;
        }
        .text {
          top: 5vh;
          left: 6.8vh;
        }
        .titleRight {
          position: absolute;
          top: 3vh;
          width: max-content;
          left: 7.5vh;
          transform: translateX(-50%);
          font-size: 1.6vh;
        }
        .textRight {
          position: absolute;
          //top: 12px;
          top: 5vh;
          left: 7.5vh;
          transform: translateX(-50%);
          font-family: YouSheBiaoTiHei;
          // font-size: 2.5vh;
          // color: #FAFAFA;
          white-space: nowrap;
          .unit {
            font-size: 1.5vh;
            font-family: YouSheBiaoTiHei;
          }
        }
        .progressEmpty {
          height: 1.5vh;
          //margin: 0.5vh auto;
          position: relative;
          left: 1vh;
          width: 11vh;
          .empty{
            height: 100%;
          }
          .progressFull{
            transition: width .1s;
            //background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            .full{
              height: 1.5vh;
            }
          }
          .progressTitle{
            position: absolute;
            top: 0;
            left: 10vh;
            color: #ffffff;
            font-size: 1.5vh;
          }
        }
        .leftPicture{
          width: 5vh;
          height: 7vh;
          position: relative;
          bottom:0;
          -webkit-animation: myMove 1.8s infinite;
          @-webkit-keyframes myMove {
            0% {
              bottom: 1.1vh;
            }
            50% {
              bottom: 1.5vh;
            }
            100% {
              bottom: 1.1vh;
            }
          }
        }
        .leftPictureBottom{
          width: 9vh;
          height: 4vh;
          position: relative;
          left: 2vh;
          bottom:-1vh;
        }
        .rightPicture{
          width: 5vh;
          height: 7vh;
          position: relative;
          bottom:0;
          -webkit-animation: myMoveRight 1.8s infinite;
          @-webkit-keyframes myMoveRight {
            0% {
              bottom: 2.2vh;
            }
            50% {
              bottom: 2.62vh;
            }
            100% {
              bottom: 2.2vh;
            }
          }
        }
        .rightPictureBottom{
          width: 9vh;
          height: 5vh;
          position: relative;
          left: 3vh;
        }
      }
    }
  }
}
.titleHxhb-wrapper {
  display: flex;
  align-items: flex-end;
  .pre {
    display: block;
    width: 1vh;
    height: 2vh;
    background: linear-gradient(180deg, #16EAEA 0%, rgba(11, 48, 117, 0) 100%);
    transform: skewX(-30deg);
  }
  .title {
    display: block;
    height: 3vh;
    line-height: 3vh;
    font-family: YouSheBiaoTiHei;
    font-size: 2vh;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.64);
    position: relative;
    padding-left: 1vh;
  }
  .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0.2vh;
    width: 22vh;
    height: 1.5vh;
    z-index: -1;
    background-image: linear-gradient(90deg, #1950B9 0%, transparent 100%);
    transform: skewX(-30deg);
  }
}
.sub-title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1.5vh;
  font-size: 1.8vh;
  .sub-title {
    font-family: YouSheBiaoTiHei;
    color: #fff;
    font-size: 1.8vh;
    .number {
      font-family: YouSheBiaoTiHei;
      color: #16EAEA;
    }
  }
  .decorate {
    // width: 17vh;
    flex: 1;
    height: 0.5vh;
    .bg-image('./images/decorate-line');
  }
}

.chart-wrapper {
  margin-top: 10px;
  .xiaobiaoti{
    padding-left: 3vh;
    color: #eee;
    font-size: 1vh
  }
}

.search-header {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  width          : 26vh;
  margin-top     : 1vh;
  .bg-image("./images/search-input");
  .searchFilterInput {
    width: 15vh;
  }
  .button-container {
    width          : 8vh;
    display        : flex;
    justify-content: space-around;
    .button-item {
      position: relative;
      flex    : 1;
      &:after {
        content         : " ";
        position        : absolute;
        right           : 5px;
        top             : 55%;
        width           : 1px;
        height          : 0.15rem;
        bottom          : 0;
        border-right    : 1px solid #165FEA;
        transform-origin: 100% 0;
        transform       : scaleX(0.5);
        transform       : translateY(-50%);
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
    }
    .icon-common {
      display: block;
      margin-top: 1vh;
      width  : 0.27rem;
      height : 0.27rem;
    }
    .icon-clear {
      .bg-image('./images/clear');
    }
    .icon-search {
      .bg-image('./images/search');
    }
  }
}

.no-tip {
  padding: 5px;
  color: #fff;
}

.sign-wrapper {
  z-index: 999;
  position: absolute;
  bottom: 1vh;
  right: 25%;
  >img {
    width: 15vh;
  }
}
