.project-detail-popup {
  position: absolute;
  right: 0;
  top: 5vh;
  bottom: 0;
  z-index: 999;
  // width: 50vh;
  width: 40vh;
  padding: 5vh 1%;
  background-color: #040D33;
  color: #fff;
  overflow-y: scroll;
  .close-btn {
    position: absolute;
    top: 2vh;
    right: 1vh;
    width: 1.5vh;
    height: 1.5vh;
    .bg-image("./images/close-info");
    cursor: pointer;
  }
  .content-info {
    display: flex;
    flex-direction: column;
    .jgt-wrapper {
      display: flex;
      align-items: center;
      flex: 1;
      margin-left: 1vh;
      margin-top: 1.5vh;
      padding-bottom: 1.5vh;
      border-bottom: 1px solid #666;
    }
    .btn-list {
      display: flex;
      justify-content: center;
      margin-top: 1.5vh;
      width: 100%;
      .btn-item {
        margin-right: 1vh;
        padding: 0.5vh 1.6vh;
        background-image: linear-gradient(180deg, #05296E 0%, #031537 100%);
        border: 1px solid #165FEA;
        border-radius: 5px;
        font-family: YouSheBiaoTiHei;
        color: #165FEA;
        font-size: 1.6vh;
        cursor: pointer;
        &.active {
          border: 1px solid #16EAEA;
          color: #00FFEB;
        }
        &.disabled {
          border: 1px solid #3A568D;
          color: #50688A;
          background-color: #2C384D;
        }
      }
    }
    .media-content {
      width: 100%;
      margin-top: 1vh;
      .top {
        display: flex;
        align-items: center;
        margin-left: 1vh;
        flex: 1;
      }
      .bottom {
        height: 3.38vh;
        position: relative;
        margin: 0 1.75vh;
        .item-wrapper {
          width: 100%;
          height: 2.88vh;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background-image: linear-gradient(270deg, rgba(22, 95, 234, 0) 0%, rgb(22, 95, 234) 49%, rgba(22, 95, 234, 0) 100%);
          z-index: -1;
        }
        .item-check {
          width: 5vh;
          height: 3.38vh;
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: #165fea;
          border-radius: 0.38vh;
          border: solid 0.06vh #07ffff;
          box-sizing: border-box;
          z-index: -1;
        }
        .swiper-time {
          width: 100%;
          height: 2.88vh;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;
          /deep/ .swiper-slide {
            cursor: pointer;
            span {
              display: block;
              height: 1.44vh;
              line-height: 1.44vh;
              font-family: PingFang;
              font-weight: 600;
              color: #FFF;
              &:first-child {
                font-size: 1.25vh;
              }

              &:last-child {
                font-size: 1vh;
              }
            }
            &.active {
              .item-content {
                display: inline-block;
                background-image: linear-gradient(270deg,
                        rgba(119, 161, 255, 0) 0%,
                        rgba(119, 161, 255, 0.47) 18%,
                        #77a1ff 46%,
                        rgba(119, 161, 255, 0.65) 77%,
                        rgba(119, 161, 255, 0) 100%);
              }
              span {
                color: #07ffff;
              }
            }
          }
        }
      }
    }
    .swiper-buttons {
      cursor: pointer;
      width: 1vh;
      height: 3vh;
      .bg-image("./images/swiper-btn");
    }
    .swiper-button-left, .jgt-swiper-button-left {
      margin-right: 1vh;
    }
    .swiper-button-right, .jgt-swiper-button-right {
      margin-left: 1vh;
      transform: rotate(180deg);
    }
    .swiper-wrapper {
      display: flex;
      align-items: center;
      margin: 0;
      width: 26vh;
      height: 16vh;
      flex: 1;
      .swiper-item {
        img {
          width: 100%;
        }
        .no-tip {
          height: 16vh;
          line-height: 16vh;
          width: 100%;
          text-align: center;
          font-family: YouSheBiaoTiHei;
          font-size: 2vh;
          color: #165FEA;
        }
      }
      .swiper-scrollbar {
        height: 3px;
        background: rgba(0, 0, 0, 0.5);
      }
      .swiper-scrollbar-drag {
        background-color: #fff;
      }
    }
  }
  .base-info {
    margin-top: 1vh;
    .base-content {
      margin-top: 1vh;
      .base-item {
        display: flex;
        align-items: center;
        padding: 0.8vh 1vh;
        margin-bottom: 0.5vh;
        .title {
          display: flex;
          align-items: center;
          >img {
            width: 2vh;
            margin-right: 0.2vh;
          }
          >span {
            // font-family: PingFang;
            font-size: 1.6vh;
            color: #04BAFB;
          }
        }
        .value {
          flex: 1;
          font-size: 1.4vh;
          line-height: 2vh;
        }
      }
      .inline {
        display: flex;
        padding: 0 1vh;
        margin-bottom: 0.2vh;
        .base-item {
          flex: 1;
          padding: 0.8vh 0;
          margin-bottom: 0;
        }
      }
      .bg {
        background: rgba(22, 95, 234, 0.24);
      }
    }
    .time-line-wrapper{
      margin-bottom: 1.5vh;
      .time-line {
        display: flex;
        padding-top: 4vh;
        width: 92%;
        position: relative;
        .line-item {
          // width: 7vh;
          flex: 1;
          height: 0.4vh;

        }
        .progressEmpty {
          height: 1.5vh;
          //margin: 0.5vh auto;
          position: relative;
          .empty{
            height: 1.5vh;
          }
          .progressFull{
            transition: width .1s;
            //background: #fff;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden;
            .full{
              height: 1.5vh;
            }
          }
        }

        .blue {
          background-color: #0E5AF2;
        }
        .yellow {
          background-color: #FEA100;
        }
        .pink {
          background-color: #DF88F9;
        }
        .red {
          background-color: #EE2D2D;
        }
        .green {
          background-color: #00FF84;
        }
        .light-blue {
          background-color: #04BAFB;
        }
        .pop {
          position: absolute;
          top: -10%;
          padding: 1vh 0.5vh 1.6vh 0.5vh;
          white-space: nowrap;
          width: 9vh;
          text-align: center;
          font-size: 1.4vh;
        }
        .pop1 {
          left: 9%;
          .bg-image("./images/blue-pop");
        }
        .pop2 {
          left: 28%;
          .bg-image("./images/yellow-pop");
        }
        .pop3 {
          left: 50%;
          .bg-image("./images/pink-pop");
        }
        .pop4 {
          left: 69%;
          .bg-image("./images/red-pop");
        }
        .pop5 {
          left: 90%;
          .bg-image("./images/green-pop");
        }
        .pop6 {
          left: 24%;
          .bg-image("./images/blue-pop");
        }
        .pop7 {
          left: 66%;
          .bg-image("./images/blue-pop");
        }
        .circle {
          position: absolute;
          bottom: -0.1vh;
          width: 0.6vh;
          height: 0.6vh;
          border-radius: 100%;
          background-color: #fff;
        }
        .circle1 {
          left: 19.5%;
        }
        .circle2 {
          left: 39.5%;
        }
        .circle3 {
          left: 59.5%;
        }
        .circle4 {
          left: 79.5%;
        }
        .circle5 {
          left: 99.5%;
        }
        .circle6 {
          // left: 25%;
          left: 33%;
        }
        .circle7 {
          left: 75%;
        }
      }
      .time-desc {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5vh;
        width: 92%;
        font-size: 1.2vh;
      }
      .flex-end {
        justify-content: flex-end;
      }
      &.large {
        .pop1 {
          left: 14%;
        }
        .pop2 {
          left: 34%;
        }
        .pop3 {
          left: 54%;
        }
        .pop4 {
          left: 74%;
        }
        .pop5 {
          left: 94%;
        }
        .pop6 {
          left: 28%;
        }
        .pop7 {
          left: 70%;
        }
      }
    }
  }
  
  .qrcode-wrapper {
    margin-top: 3vh;
    .qrcode-content {
      margin-top: 2vh;
      text-align: center;
      .qrcode{
        display: inline-block;
        img {
          margin: 0 auto;
          padding: 6px;
          box-sizing: border-box;
        }
      }
    }
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }

  /deep/ .el-collapse {
    border: none;
  }

  /deep/ .el-collapse-item__header {
    background-color: #08215f;
    color: #04bafb;
    // font-family: PingFang;
    font-size: 2vh;
    font-weight: bolder;
    padding-left: 1vh;
    border: none;
  }

  /deep/ .el-collapse-item__wrap {
    background-color: transparent;
    border: none;
  }
}

.QJFrame, .SPFrame {
  position: absolute;
  z-index: 9999;
  // left: 47.5%;
  left: 20%;
  width: calc(100% - 45%);
  height: 95%;
  // transform: translateX(-50%);
  transition: all 1s;
  background: rgba(19,45,85,.9);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
  bottom: 0;
  #content {
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .close {
    .bg-image("./images/close");
    position: absolute;
    top: 3%;
    right: 1%;
    width: 3.2vh;
    height: 3.2vh;
    text-decoration: none;
    cursor: pointer;
    z-index: 99;
  }
}

.title-wrapper {
  display: flex;
  align-items: flex-end;
  .pre {
    width: 1vh;
    height: 2.5vh;
    background: linear-gradient(180deg, #16EAEA 0%, rgba(11, 48, 117, 0) 100%);
    transform: skewX(-30deg);
  }
  .title {
    display: block;
    // height: 35px;
    line-height: 3.5vh;
    font-family: YouSheBiaoTiHei;
    font-size: 2.8vh;
    letter-spacing: 0px;
    color: #ffffff;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.64);
    position: relative;
    padding-left: 1.2vh;
  }
  .title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 2px;
    width: 300px;
    height: 15px;
    z-index: -1;
    background-image: linear-gradient(90deg, #1950B9 0%, transparent 100%);
    transform: skewX(-30deg);
  }
  .more-group {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.6vh;
    padding-right: 2vh;

    .more {
      font-family: 'YouSheBiaoTiHei';
      color: #16EAEA;
      font-size: 1.6vh;
      text-decoration: underline;
      cursor: pointer;

      &:first-child {
        margin-right: 2vh;
      }
    }
  }  
}

button {
  border: 1px solid transparent;  //自定义边框
  outline: none;    //消除默认点击蓝色边框效果
}
